@font-face {
    font-family: 'Rubik';
    src: url( ./Rubik.woff2 ) format( 'woff2' );
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    user-select: none;
    scrollbar-width: none
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
}
